.h1.ui.header {
  font-size: 1.5rem;
}

.headerWrapper {
  padding: 3rem 0 !important;
}

.ui .search > .ui.input {
  width: 100%;
}

.like {
  position: absolute;
  right: 7%;
  top: 15%;
}

.searchLoader {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}